body {
    background-color: #EBF5FB;
}
.card {
    margin: 15px;
    border-radius: 40px; 
    background-color: #D6EAF8 ;
}

.card-body {
    text-align: left;
}
.card-img-overlay {
    padding-top: 370px;
}

.img-fluid {
    float:left;
    width: 150px;
    height: 170px;
    border: solid;
}
.card-body img {
  float:left ;
  width:60px ;
  height:60px ;
}
.card-img-top{
    width:auto ;
    height:500px ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

h2 {
    padding-left: 130px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    padding-left: 140px;
    list-style-type: circle
}